legacy-peer-deps=true
omit[]=optional
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
resolution-mode=highest
save-exact=true
engine-strict=true
prefer-offline=true
shamefully-hoist=true 