legacy-peer-deps=true
omit[]=optional
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
resolution-mode=highest
save-exact=true
engine-strict=true
prefer-offline=true
shamefully-hoist=true
cache-min=9999999
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
network-timeout=100000
maxsockets=50 